
.container{
height: 100vh;
}

.infomationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 40px; */
    flex:1;
    height:70vh;
/* padding-left: 100px; */
/* background-color: green; */
}

.heading{width: 100%;
/* text-align: center; */
line-height: 40px;
font-size: 2rem;
}

.dot {
    font-size: inherit;
    /* transform: scale(1); */
    font-size: 70px;
    color: var(--mygreen);
    text-decoration: none;
}


.socialContainer{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red; */

}

.socialWrapper{
height: 50px;
width: 100%;
/* background: green; */
display: flex;
align-items: center;
/* margin: 10px; */
}


.socialText{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--mygray);
    width: 80%;
}




.github{
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("/Hub.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.linkedin{
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("/Linkedin.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.mail{
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("/Mail.png");
    background-size: contain;
    background-repeat: no-repeat;
}



.imageContainer{
    flex: 1;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
gap: 10px;
padding: 50px 100px 50px 0px;
}

.download{
    height: fit-content;
    width: fit-content;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    background: var(--mygray);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 30px;
}

.Mobiledownload{
    display: none;
    
}

.avatar{

    width: 350px;
    height: 350px;
    margin: 10px;
    background-image: url("../../../public/Avatar.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}


 @media (max-width: 784px) {
.container{
    /* height: fit-content; */
    flex-direction: column;
    /* line-height: 20px; */
    /* background: red; */
    height: 500px;
}

.infomationContainer{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0px;
    /* background: red; */
    
}



.socialWrapper{
    justify-content: center;
    /* background: green; */
}

 .imageContainer{
    display: none;
} 


} 

