.container {
    height: 100vh;

    width: 90%;
    /* background: red; */
    /* position: fixed; */
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.linkContainer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 130px;

}

.link {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background: var(--myblack);
    color: var(--mywhite);
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
}


.img {
    margin-left: 10px;
}


.infomationContainer {
    height: calc(100vh - 250px);
    width: 100%;
    background: var(--mygray);
    border-radius: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 50px;
    color: black;
    margin-top: 1px;
}

.text {
    margin-top: 1px;
    font-size: 1.4rem;
    color: black;
    /* line-height: 10px; */

}