@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}


:root {
    --mygreen: #114817;
    --mywhite: #f5f5dc;
    --myblack: #2a3439;
    --myblue: #002147;
    --mymaroon: #3e0c0d;
    --mygray: #d9d9d9;

}

body {
    /* background-color: var(--myblue); */
    color: var(--mygray);
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
/* scroll-behavior: smooth; */


}

@media (max-width:412px) {
    body{
        overflow: scroll;
    }
}